<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>KiCad Length Matching HUD</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <script type="text/javascript" src="/static/index.js"></script>
</head>

<body>
    <div style="display: flex; flex-direction: column; height: 95vh;">
        <div style="flex: 0 0 auto; height: auto; overflow: visible;">
            <header>
            KiCad Length Matching HUD <span id="status-indicator"></span>
            </header>

            <form id="hud-form" class="hud-form">
            <label for="filter">Net name filter:</label>
            <input type="text" id="filter" name="filter" style="width: 400px;">

            <label for="reference_net">Reference net:</label>
            <select id="reference_net" name="reference_net" style="width: 400px;"></select>

            <label for="max_tolerance">Max skew (ps):</label>
            <input type="number" id="max_tolerance" name="max_tolerance" step="0.1" style="width: 100px;">

            <div style="display: flex; gap: 10px; margin-top: 10px;">
                <button type="button" id="select-noncompliant">Select all noncompliant traces</button>
                <button type="button" id="clear-selection">Clear selection</button>
            </div>
            </form>
        </div>
        <div style="flex: 1 1 0; overflow: scroll;">
            <table id="data-table">
                <thead class="sticky-table-header">
                    <tr>
                        <th id="th-name">Net</th>
                        <th id="th-delay">Delay (ps)</th>
                        <th id="th-diff">Difference (ps)</th>
                        <th id="th-top">Top (mm)</th>
                        <th id="th-in2">In2 (mm)</th>
                        <th id="th-in7">In7 (mm)</th>
                        <th id="th-bottom">Bottom (mm)</th>
                        <th id="th-vias">Vias</th>
                    </tr>
                </thead>
                <tbody id="table-body">
                </tbody>
            </table>
        </div>
    </div>
    <script>
        loadIndexPage();
    </script>
</body>

</html>